.site {
    display: none;
}

.jserror {
    display: block;
}

.titletext {
    font-size: 550%;
    text-align: center;
    animation: loadfadein 2s linear;
    animation-iteration-count: 1;
}
    
@keyframes loadfadein {
    0%{filter: opacity(0%);}
    95.2%{filter: opacity(0%);}
    100%{filter: opacity(100%);}
}