html {
    /*set the background color to a nice grey*/
    background:#3b3b3b;
}

@font-face {
    font-family: "prototype"; /*really cool font if someone doesn't have it*/
    src: url("./assets/fonts/prototype.ttf");
}

@font-face {
    font-family: "minecraftmodern"; /*splash font*/
    src: url("./assets/fonts/minecraft-modern.ttf");
}

body {
    /*set the font and it's size, alignment, and color*/
    font-family:prototype;
    font-size:120%;
    text-align:center;
    color:#e5e5e5;

    /*also align everything to the center*/
    align-items:center;
    display:flex;
    flex-direction:column;
}

a:link, a:active {
    color:#ffff55
}

a:visited, a:hover {
    color:#ffaa00
}

.maintext {
    /*size of anything marked "maintext"*/
    font-size:150%;
}

.mainimg {
    /*main image's width and rounding radius*/
    width:250px;
    border-radius:10%;
}

.refresh {
    width: 64px;
}

.refresh.spinning {
    animation: rotate 5s ease-in-out;
    animation-iteration-count: infinite;
}

.splashtext {
    /*various stuff for the splash text*/
    font-size: 140%;
    font-family: minecraftmodern;
    color:#ffff55;
    min-height: 30px;

    animation: scale 1.25s ease-in-out;
    animation-iteration-count: infinite;

}

@keyframes scale {
    /*keyframes for the splash text animation*/
    0%{transform: scale(0.8);}
    50%{transform: scale(1.0);}
    100%{transform: scale(0.8);}
}

@keyframes rotate {
    /*rotating the splash refresh button*/
    0%{transform: rotate(0deg);}
    100%{transform: rotate(18000deg);}
}

.splash {
    /*container for the splash box*/
    border: 5px solid #e5e5e5;
    border-radius: 30px;
    min-width: 230px;
    max-width: 70%;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0.5em;
}

.icon {
    /*container for the icon*/
    border: 5px solid #e5e5e5;
    border-radius: 10%;
    min-width: 260px;
    padding: 10px;
    margin: 0.5em;
}

.footer {
    /*container for the footer*/
    border: 5px solid #e5e5e5;
    border-radius: 30px;
    min-width: 260px;
    max-width: 70%;
    padding: 10px;
}

.tablist {
    margin: 0.25em;
}

.tablist button {
    /*change how the buttons on the tabs look*/
    background-color: inherit;
    border: 5px solid #e5e5e5;
    border-radius: 5%;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;

    /*for some reason you need to re-define the font stuff on buttons, so here's that*/
    font-family:prototype;
    font-size:120%;
    text-align:center;
    color:#e5e5e5;
}

.tablist button.active {
    color: #ffaa00;
}

.tablist button:hover {
    background-color: #707070;
}

.tablist button:active{
    background-color: #e5e5e5;
    color: #ffaa00;
    border-color: #ffaa00;
}

.tabcontent {
    display: none;
}